@charset "Shift_JIS";

*{
	padding: 0;
	margin: 0;
	border: none;
}

body{
	color: #CCCCCC;
	background-color: #333333;
	font-size: 1em;
	font-family: sans-serif, Arial, Helvetica, Osaka, "ＭＳ Ｐゴシック";
	text-align: left;
	word-break: break-all;
	word-wrap: break-word;
	background-image: url(ppgbg.gif);
}

a:link{
	color: #003399;
}

a:visited{
	color: #999999;
}

#header{
	width: 800px;
	background: #ffffff;
}

#main{
	background: #ffffff;
	width: 800px;
}


h2{
	color: #ffffff;
	border-top: 1px solid;
	border-bottom: 1px solid;
	background-color: #333333;
}

h3{
	color: #666666;
	text-align: left;
	padding-top: 1em;
	padding-right: 0em;
	padding-bottom: 0em;
	padding-left: 1em;
}

p{
	text-align: left;
	padding: 1em;
	line-height: 1.5em;
}

#yousi p{
	padding-top: 1em;
}

ol{
	text-align: left;
	padding-right: 3em;
	padding-bottom: 1em;
	padding-left: 4em;
}

li{
	padding-top: 0.3em;
}


#header h1 {
	background-color: #808080;
}
img {
	padding: 10px;
}
